SistemaHorarios.Client.Model/Service References/SistemaHorariosService/SistemaHorariosService58.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SistemaHorarios.Contracts.ConsultarCursosPeriodosSemestres" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SistemaHorarios.Contracts.ConsultarCursosPeriodosSemestres" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:34859/SistemaHorariosService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SistemaHorarios.Base" />
  <xs:import schemaLocation="http://localhost:34859/SistemaHorariosService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SistemaHorarios.Contracts.ConsultarCursos" />
  <xs:import schemaLocation="http://localhost:34859/SistemaHorariosService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/SistemaHorarios.Contracts.ConsultarDiasSemana" />
  <xs:import schemaLocation="http://localhost:34859/SistemaHorariosService.svc?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/SistemaHorarios.Contracts.ConsultarSemestres" />
  <xs:complexType name="ConsultarCursosPeriodosSemestresRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/SistemaHorarios.Base" base="q1:BaseRequest">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ConsultarCursosPeriodosSemestresRequest" nillable="true" type="tns:ConsultarCursosPeriodosSemestresRequest" />
  <xs:complexType name="ConsultarCursosPeriodosSemestresResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/SistemaHorarios.Base" base="q2:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SistemaHorarios.Contracts.ConsultarCursos" minOccurs="0" name="Cursos" nillable="true" type="q3:ArrayOfConsultarCursosCursoDTO" />
          <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SistemaHorarios.Contracts.ConsultarDiasSemana" minOccurs="0" name="DiasSemana" nillable="true" type="q4:ArrayOfConsultarDiasSemanaDiaDTO" />
          <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SistemaHorarios.Contracts.ConsultarSemestres" minOccurs="0" name="Semestres" nillable="true" type="q5:ArrayOfConsultarSemestresSemestreDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ConsultarCursosPeriodosSemestresResponse" nillable="true" type="tns:ConsultarCursosPeriodosSemestresResponse" />
</xs:schema>