SistemaHorarios.Client.Model/Service References/SistemaHorariosService/SistemaHorariosService20.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SistemaHorarios.Contracts.ConsultarMaterias" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SistemaHorarios.Contracts.ConsultarMaterias" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:34859/SistemaHorariosService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SistemaHorarios.Base" />
  <xs:complexType name="ConsultarMateriasRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/SistemaHorarios.Base" base="q1:BaseRequest">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ConsultarMateriasRequest" nillable="true" type="tns:ConsultarMateriasRequest" />
  <xs:complexType name="ConsultarMateriasResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/SistemaHorarios.Base" base="q2:BaseResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="Materias" nillable="true" type="tns:ArrayOfConsultarMateriasMateriaDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ConsultarMateriasResponse" nillable="true" type="tns:ConsultarMateriasResponse" />
  <xs:complexType name="ArrayOfConsultarMateriasMateriaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ConsultarMateriasMateriaDTO" nillable="true" type="tns:ConsultarMateriasMateriaDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfConsultarMateriasMateriaDTO" nillable="true" type="tns:ArrayOfConsultarMateriasMateriaDTO" />
  <xs:complexType name="ConsultarMateriasMateriaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConsultarMateriasMateriaDTO" nillable="true" type="tns:ConsultarMateriasMateriaDTO" />
</xs:schema>