SistemaHorarios.Client.Model/Service References/SistemaHorariosService/SistemaHorariosService32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SistemaHorarios.Contracts.CadastrarComposicoesHorario" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SistemaHorarios.Contracts.CadastrarComposicoesHorario" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:34859/SistemaHorariosService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SistemaHorarios.Base" />
  <xs:complexType name="CadastrarComposicoesHorarioRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/SistemaHorarios.Base" base="q1:BaseRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="CodigoComposicaoCurso" type="xs:int" />
          <xs:element minOccurs="0" name="CodigoHorario" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CadastrarComposicoesHorarioRequest" nillable="true" type="tns:CadastrarComposicoesHorarioRequest" />
  <xs:complexType name="CadastrarComposicoesHorarioResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/SistemaHorarios.Base" base="q2:BaseResponse">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CadastrarComposicoesHorarioResponse" nillable="true" type="tns:CadastrarComposicoesHorarioResponse" />
</xs:schema>