SistemaHorarios.Client.Model/Service References/SistemaHorariosService/SistemaHorariosService33.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SistemaHorarios.Contracts.CadastrarComposicaoCurso" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SistemaHorarios.Contracts.CadastrarComposicaoCurso" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:34859/SistemaHorariosService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SistemaHorarios.Base" />
  <xs:complexType name="CadastrarComposicaoCursoRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/SistemaHorarios.Base" base="q1:BaseRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="CodigoCurso" type="xs:int" />
          <xs:element minOccurs="0" name="CodigoMateria" type="xs:int" />
          <xs:element minOccurs="0" name="CodigoProfessor" type="xs:int" />
          <xs:element minOccurs="0" name="CodigoSemestre" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CadastrarComposicaoCursoRequest" nillable="true" type="tns:CadastrarComposicaoCursoRequest" />
  <xs:complexType name="CadastrarComposicaoCursoResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/SistemaHorarios.Base" base="q2:BaseResponse">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CadastrarComposicaoCursoResponse" nillable="true" type="tns:CadastrarComposicaoCursoResponse" />
</xs:schema>