SistemaHorarios.Client.Model/Service References/SistemaHorariosService/SistemaHorariosService59.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SistemaHorarios.Contracts.ConsultarParametrosCadastroGrade" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SistemaHorarios.Contracts.ConsultarParametrosCadastroGrade" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:34859/SistemaHorariosService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SistemaHorarios.Base" />
  <xs:import schemaLocation="http://localhost:34859/SistemaHorariosService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SistemaHorarios.Contracts.ConsultarCursos" />
  <xs:import schemaLocation="http://localhost:34859/SistemaHorariosService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/SistemaHorarios.Contracts.ConsultarDiasSemana" />
  <xs:import schemaLocation="http://localhost:34859/SistemaHorariosService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/SistemaHorarios.Contracts.ConsultarMaterias" />
  <xs:import schemaLocation="http://localhost:34859/SistemaHorariosService.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/SistemaHorarios.Contracts.ConsultarProfessores" />
  <xs:import schemaLocation="http://localhost:34859/SistemaHorariosService.svc?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/SistemaHorarios.Contracts.ConsultarSemestres" />
  <xs:complexType name="ConsultarParametrosCadastroGradeRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/SistemaHorarios.Base" base="q1:BaseRequest">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ConsultarParametrosCadastroGradeRequest" nillable="true" type="tns:ConsultarParametrosCadastroGradeRequest" />
  <xs:complexType name="ConsultarParametrosCadastroGradeResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/SistemaHorarios.Base" base="q2:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SistemaHorarios.Contracts.ConsultarCursos" minOccurs="0" name="Cursos" nillable="true" type="q3:ArrayOfConsultarCursosCursoDTO" />
          <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SistemaHorarios.Contracts.ConsultarDiasSemana" minOccurs="0" name="Dias" nillable="true" type="q4:ArrayOfConsultarDiasSemanaDiaDTO" />
          <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SistemaHorarios.Contracts.ConsultarMaterias" minOccurs="0" name="Materias" nillable="true" type="q5:ArrayOfConsultarMateriasMateriaDTO" />
          <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SistemaHorarios.Contracts.ConsultarProfessores" minOccurs="0" name="Professores" nillable="true" type="q6:ArrayOfConsultarProfessoresProfessorDTO" />
          <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SistemaHorarios.Contracts.ConsultarSemestres" minOccurs="0" name="Semestres" nillable="true" type="q7:ArrayOfConsultarSemestresSemestreDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ConsultarParametrosCadastroGradeResponse" nillable="true" type="tns:ConsultarParametrosCadastroGradeResponse" />
</xs:schema>