SistemaHorarios.Client.Model/Service References/SistemaHorariosService/SistemaHorariosService44.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SistemaHorarios.Contracts.ConsultarCursoParam" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SistemaHorarios.Contracts.ConsultarCursoParam" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:34859/SistemaHorariosService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SistemaHorarios.Base" />
  <xs:import schemaLocation="http://localhost:34859/SistemaHorariosService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SistemaHorarios.Contracts.ConsultarCursos" />
  <xs:complexType name="ConsultarCursoParamRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/SistemaHorarios.Base" base="q1:BaseRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="Codigo" type="xs:int" />
          <xs:element minOccurs="0" name="CodigoPeriodo" type="xs:int" />
          <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ConsultarCursoParamRequest" nillable="true" type="tns:ConsultarCursoParamRequest" />
  <xs:complexType name="ConsultarCursoParamResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/SistemaHorarios.Base" base="q2:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SistemaHorarios.Contracts.ConsultarCursos" minOccurs="0" name="Cursos" nillable="true" type="q3:ArrayOfConsultarCursosCursoDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ConsultarCursoParamResponse" nillable="true" type="tns:ConsultarCursoParamResponse" />
</xs:schema>