SistemaHorarios.Client.Model/Service References/SistemaHorariosService/SistemaHorariosService43.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SistemaHorarios.Contracts.ConsultarCursos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SistemaHorarios.Contracts.ConsultarCursos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:34859/SistemaHorariosService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SistemaHorarios.Base" />
  <xs:complexType name="ConsultarCursosRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/SistemaHorarios.Base" base="q1:BaseRequest">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ConsultarCursosRequest" nillable="true" type="tns:ConsultarCursosRequest" />
  <xs:complexType name="ConsultarCursosResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/SistemaHorarios.Base" base="q2:BaseResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="Cursos" nillable="true" type="tns:ArrayOfConsultarCursosCursoDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ConsultarCursosResponse" nillable="true" type="tns:ConsultarCursosResponse" />
  <xs:complexType name="ArrayOfConsultarCursosCursoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ConsultarCursosCursoDTO" nillable="true" type="tns:ConsultarCursosCursoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfConsultarCursosCursoDTO" nillable="true" type="tns:ArrayOfConsultarCursosCursoDTO" />
  <xs:complexType name="ConsultarCursosCursoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Periodo" nillable="true" type="tns:ConsultarCursosPeriodoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConsultarCursosCursoDTO" nillable="true" type="tns:ConsultarCursosCursoDTO" />
  <xs:complexType name="ConsultarCursosPeriodoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="NomePeriodo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConsultarCursosPeriodoDTO" nillable="true" type="tns:ConsultarCursosPeriodoDTO" />
</xs:schema>