SistemaHorarios.Client.Model/Service References/SistemaHorariosService/SistemaHorariosService16.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/SistemaHorarios.Contracts.CadastrarHorarios" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SistemaHorarios.Contracts.CadastrarHorarios" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:34859/SistemaHorariosService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:34859/SistemaHorariosService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SistemaHorarios.Base" />
  <xs:complexType name="CadastrarHorariosRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/SistemaHorarios.Base" base="q1:BaseRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="CodigoDiaSemana" type="xs:int" />
          <xs:element minOccurs="0" name="CodigoPeriodo" type="xs:int" />
          <xs:element minOccurs="0" name="HoraFinal" type="ser:duration" />
          <xs:element minOccurs="0" name="HoraInicial" type="ser:duration" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CadastrarHorariosRequest" nillable="true" type="tns:CadastrarHorariosRequest" />
  <xs:complexType name="CadastrarHorariosResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/SistemaHorarios.Base" base="q2:BaseResponse">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CadastrarHorariosResponse" nillable="true" type="tns:CadastrarHorariosResponse" />
</xs:schema>