SistemaHorarios.Client.Model/Service References/SistemaHorariosService/SistemaHorariosService6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SistemaHorarios.Contracts.ConsultarProfessores" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SistemaHorarios.Contracts.ConsultarProfessores" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:34859/SistemaHorariosService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SistemaHorarios.Base" />
  <xs:complexType name="ConsultarProfessoresRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/SistemaHorarios.Base" base="q1:BaseRequest">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ConsultarProfessoresRequest" nillable="true" type="tns:ConsultarProfessoresRequest" />
  <xs:complexType name="ConsultarProfessoresResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/SistemaHorarios.Base" base="q2:BaseResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="Professores" nillable="true" type="tns:ArrayOfConsultarProfessoresProfessorDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ConsultarProfessoresResponse" nillable="true" type="tns:ConsultarProfessoresResponse" />
  <xs:complexType name="ArrayOfConsultarProfessoresProfessorDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ConsultarProfessoresProfessorDTO" nillable="true" type="tns:ConsultarProfessoresProfessorDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfConsultarProfessoresProfessorDTO" nillable="true" type="tns:ArrayOfConsultarProfessoresProfessorDTO" />
  <xs:complexType name="ConsultarProfessoresProfessorDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConsultarProfessoresProfessorDTO" nillable="true" type="tns:ConsultarProfessoresProfessorDTO" />
</xs:schema>