SistemaHorarios.Client.Model/Service References/SistemaHorariosService/SistemaHorariosService56.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/SistemaHorarios.Contracts.ConsultarGrade" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SistemaHorarios.Contracts.ConsultarGrade" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:34859/SistemaHorariosService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SistemaHorarios.Base" />
  <xs:import schemaLocation="http://localhost:34859/SistemaHorariosService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ConsultarGradeRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/SistemaHorarios.Base" base="q1:BaseRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="CodCurso" type="xs:int" />
          <xs:element minOccurs="0" name="CodDia" type="xs:int" />
          <xs:element minOccurs="0" name="CodPeriodo" type="xs:int" />
          <xs:element minOccurs="0" name="CodSemestre" type="xs:int" />
          <xs:element minOccurs="0" name="NomeCurso" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NomeDia" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NumeroSemestre" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ConsultarGradeRequest" nillable="true" type="tns:ConsultarGradeRequest" />
  <xs:complexType name="ConsultarGradeResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/SistemaHorarios.Base" base="q2:BaseResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="Horarios" nillable="true" type="tns:ArrayOfConsultarGradeHorarioDTO" />
          <xs:element minOccurs="0" name="NomeCurso" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NomeDia" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NumeroSemestre" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ConsultarGradeResponse" nillable="true" type="tns:ConsultarGradeResponse" />
  <xs:complexType name="ArrayOfConsultarGradeHorarioDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ConsultarGradeHorarioDTO" nillable="true" type="tns:ConsultarGradeHorarioDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfConsultarGradeHorarioDTO" nillable="true" type="tns:ArrayOfConsultarGradeHorarioDTO" />
  <xs:complexType name="ConsultarGradeHorarioDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodHorario" type="xs:int" />
      <xs:element minOccurs="0" name="HorarioFinal" type="ser:duration" />
      <xs:element minOccurs="0" name="HorarioInicial" type="ser:duration" />
      <xs:element minOccurs="0" name="Materia" nillable="true" type="tns:ConsultarGradeHorarioMateriaDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConsultarGradeHorarioDTO" nillable="true" type="tns:ConsultarGradeHorarioDTO" />
  <xs:complexType name="ConsultarGradeHorarioMateriaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Materia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Professor" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConsultarGradeHorarioMateriaDTO" nillable="true" type="tns:ConsultarGradeHorarioMateriaDTO" />
</xs:schema>